camera:
  index: 0
  width: null
  height: null
  capture_hz: 
  copy_on_get: True

detector:
  model_path: robot/cv_models/yolo11_nano_80EP.pt
  img_size: 640
  confidence_threshold: 0.5
  target_infer_hz: 20
  min_consecutive_detections: 5
  hold_seconds: 1
  show_window: False

gui:
  enabled: True
  host: 0.0.0.0
  port: 5000
  stream_hz: 30